* {
  box-sizing: border-box;
}

body {
  background-color: #4a266a;
  color: #ffd9e8;
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 100vh;
}

p {
  margin: 5px 0; /*  top, bottom l,r  */
}

h2 {
  margin: 10px 0 20px; /*  t l b r-auto  */
  text-align: center;
}

input[type="checkbox"] {
  margin-right: 0;
}

.container {
  background-color: #7f4a88;
  box-shadow: 0px 3px 7px 0px;
  padding: 20px;
  width: 350px;
  max-width: 100%;
}

.result-container {
  background-color: #4a266a;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 10px;
  height: 50px;
  width: 100%;
}

.result-container #result {
  word-wrap: break-word;
  max-width: calc(100% - 40px);
}

.result-container .btn {
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
  /*color: black;*/
}

.btn {
  /* clipboard or any other upper btn*/
  border: none;
  color: #4a266a;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
  background-color: #de95ba;
}

.btn-large {
  display: block;
  width: 100%;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
